@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/modern/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.text-regular
{
    font-weight:normal;
}
.header-link-special
{
    font-weight:bold;
    /*color:#20B2AA !important;*/
    color:#AF5459 !important;    
}
.round
{
    border-radius:50%;
    height:75px;
    width:75px;
    color:#20B2AA;/*#6B6B6B*/
    background-color:white;
    border:5px solid #20B2AA;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    padding-top:6px;
}
.navbar-default
{
     background-color: rgba(255, 255, 255, 1);
}
.frontpage .row
{
    margin-bottom:20px;   
}
.labelsdiv
{
    padding-top:14px;
}
.frontpage ul, .frontpage p
{
    line-height:20pt;
}